.orange {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.yellow {
  font-size: 40px;
  

}

.green {
  font-size: 18px;
  border: none;
  border-radius: 16px;
  padding: 12px 25px;
  background: none;
  margin-right: 5px;
}

.sky-image {
  width: 203px;
  height: 234px;
  }

  .violet1 {
    background-color: rgb(242, 243, 245);
    border-radius: 16px;
    width: 240px;
    padding: 20px;
    margin: 20px;
    height: 320px;
    

  }

  .blue {
    display: flex;
    flex-wrap: wrap;
  }

  .yellow2 {
    background-color: rgba(30,43,68,.08);
    border-radius: 28px;
    padding: 12px 16px;

  }
  .active {
    background-color: white;

  }
  .green:hover {
    background-color: grey;

  }
  .green:last-child {
    margin-right: 0px;
  }
